<style>
    .post-text {
        height: 200px;
    }
</style>


<form class='text-center d-flex justify-content-center flex-row update-form'>
    <div id="post-form" class="my-3" >
        <div for="post-title" class="my-3">Update Title:</div>
        <input type="text" class="post-title form-control-lg" id="post-title" name="post-title" value="{{post.title}}" />
        <div class='my-3'>Update Content:</div>
        <input class="form-control my-3" name='post-text' id="post-text" value="{{post.post_text}}"></textarea>
        <button type="submit" id='update-btn' class="btn btn-primary">Update Post #{{post.id}}</button>

    </div>
</form>

<div class='text-center'>
<a href='/dashboard'>Return to the Dashboard</a>
</div>



<script src="/javascript/update.js"></script>