<div class='text-center my-3 display-4'>
<button class="btn btn-lg" id="login-btn">Login?</button> or <button class="btn btn-lg" id="signup-btn">Sign Up?</button>
</div>

<div class="container">
{{!-- login form --}}
<div class="row">
<form id='login-form' class="form-group login-form container col-sm d-none">
    <h1 class="text-center">Login</h1>
    <div>
        <label for="user-login">username:</label>
        <input type="text" id="user-login" class="form-control" />
    </div>
    <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" class="form-control" />
    </div>
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-secondary btn-lg">login</button>
    </div>
</form>


{{!-- signup form --}}

<form id="signup-form" class="form-group signup-form container col-sm d-none">
    <h1 class="text-center">Sign Up</h1>
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" class="form-control" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" class="form-control" />
    </div>
    <div class="text-center mt-3">
        <button type="submit" id='signup-btn' class="btn btn-secondary btn-lg">signup</button>
    </div>
</form>
</div>
</div>
{{!-- import javascript files --}}
<script src="/javascript/login.js"></script>